#cp-home-category {
  .category {
    padding-top: 32px;

    &__grid {
      @include breakpoint($breakpoint-desktop) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 64px 164px;
      }

      @include breakpoint($breakpoint-laptop) {
        gap: 64px 92px;
      }

      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: 64px;
    }

    &__item {
      position: relative;
      text-align: center;

      @media (hover: hover) {
        &:hover {
          .category__picture::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &:nth-child(5) {
        @include breakpoint($breakpoint-desktop) {
          grid-column: 2 / 3;
        }
      }

      &:nth-child(6) {
        @include breakpoint($breakpoint-desktop) {
          grid-column: 3 / 4;
        }
      }
    }

    &__picture {
      position: relative;
      width: 100%;
      aspect-ratio: 1 / 1;

      &::before,
      &::after {
        content: "";
        position: absolute;
        inset: 0;

        border-radius: 100px 0;
      }

      &::before {
        background-color: #ffe8d0;
      }

      &::after {
        background-image: linear-gradient(204deg, #ffe8d0 40.58%, #d4e763 95.48%);

        opacity: 0;
        visibility: hidden;
        transition: $transition-time ease;
      }
    }

    &__image {
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    &__title {
      margin-top: 16px;
      font-size: var(--font-text-big);
    }
  }
}
