#cp-home-hero {
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;

  .hero {
    position: relative;

    .swiper-button-prev {
      @include breakpoint($breakpoint-desktop) {
        left: -16px;
      }

      left: -64px;
    }

    .swiper-button-next {
      @include breakpoint($breakpoint-desktop) {
        right: -16px;
      }

      right: -64px;
    }

    & > .container {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &__slide {
      @include breakpoint($breakpoint-desktop) {
        min-height: 720px;
      }

      position: relative;
      min-height: 860px;
    }

    &__bg {
      position: absolute;
      inset: 0;
    }

    &__content {
      position: absolute;
      top: 50%;

      transform: translateY(-50%);
    }

    &__title {
      max-width: 510px;
      margin-bottom: 20px;

      font-size: var(--font-title-large);
      text-transform: uppercase;
    }

    &__subtitle {
      font-size: var(--font-text-large);
    }

    &__action {
      margin-top: 50px;
    }
  }
}
