#cp-about-content {
  .content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;

    &__picture {
      overflow: hidden;
      aspect-ratio: 16 / 10;
      border-radius: var(--border-radius-big);
    }
  }
}
