#pp-profile-content {
  .content {
    position: relative;
    overflow: hidden;
    padding: 40px;
    border-radius: var(--border-radius-big);
    background-color: $palette-yellow--pale;

    &__header {
      margin-bottom: 20px;
      font-weight: $weight-Bold;
      font-size: var(--font-text-large);
    }

    &__info {
    }

    &__block {
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      p {
        &:nth-child(1) {
          margin-bottom: 8px;
          color: $color-text__gray;
        }

        &:nth-child(2) {
          font-weight: $weight-Medium;
        }
      }
    }

    &__action {
      margin-top: 32px;
    }

    &__logo {
      position: absolute;
      top: 50%;
      right: -12px;

      height: 105%;
      aspect-ratio: 1 / 1;
      color: #f3ecda;

      transform: translateY(-50%);
    }
  }
}
