#pp-history-product-content {
  .content {
    &__grid {
      @include breakpoint($breakpoint-laptop) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include breakpoint($breakpoint-mobile) {
        grid-template-columns: 1fr;
      }

      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 50px 20px;
    }
  }
}
