// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;

  width: 100%;

  background: rgba($palette-yellow, 0.25);
  backdrop-filter: blur(6px);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0;
  }

  &__logo {
    margin-right: 32px;
  }

  &__callback {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
