// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;

  width: 100%;

  background: rgba($palette-yellow, 0.25);
  backdrop-filter: blur(6px);

  &__wrapper {
    display: flex;
    align-items: center;

    padding: 10px 0;
  }

  &__logo {
    span {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }

      font-weight: $weight-Regular;
    }
  }

  &__nav {
    @include breakpoint($breakpoint-laptop) {
      display: none;
    }

    margin: 0 auto;
  }

  &__search {
    @include breakpoint($breakpoint-desktop) {
      display: none;
    }

    width: 100%;
    max-width: 260px;
  }

  &__callback {
    @include breakpoint($breakpoint-desktop) {
      margin-left: auto;
    }

    display: flex;
    gap: 20px;
    align-items: center;

    margin-left: 20px;

    .social {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }
  }

  &__phone {
    span {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }

    svg {
      @include breakpoint($breakpoint-tablet) {
        display: block;
      }

      display: none;
      width: 24px;
      height: 24px;
    }
  }

  &__action {
    @include breakpoint($breakpoint-desktop) {
      margin-left: 24px;
    }

    display: flex;
    gap: 20px;
    align-items: center;

    margin-left: auto;
  }

  &__account,
  &__cart {
    line-height: 1;
    cursor: pointer;
  }

  &__account {
    display: flex;
    gap: 10px;
    align-items: center;

    font-weight: $weight-Medium;

    svg {
      width: 24px;
      height: 24px;
    }

    p {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }
  }

  &__cart {

  }

  &__burger {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    display: none;
    width: 48px;
    height: 48px;

    margin-left: 20px;

    color: $color-text__primary;
  }
}
