// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
  }

  &__item {
  }

  &__link {
  }

  &__submenu {
    span {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: space-between;
      padding: 12px 20px;

      &::after {
        content: "";

        flex-shrink: 0;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath d='M3.75 5.625L7.5 9.375L11.25 5.625' stroke='%232A374A' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        transition: $transition-time ease;
      }
    }

    .nav__link {
      padding: 0 !important;
    }

    li {
      padding: 12px 20px;
      border-top: 1px solid #f7ecd7;
      color: #a29885;
    }

    &.is-open {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  a {
    transition: $transition-time ease;

    @media (hover: hover) {
      &:hover {
        color: $link-hover-color;
      }
    }
  }

  &--header {
    .nav__list {
      gap: 20px;
      align-items: center;
    }

    .nav__item {
    }

    .nav__link {
    }
  }

  &--menu {
    .nav__list {
      flex-direction: column;
    }

    .nav__item {
      border-bottom: 1px solid #f7ecd7;
    }

    .nav__link {
      display: inline-block;
      padding: 12px 20px;
    }
  }

  &--footer {
    .nav__link {
      display: inline-block;
      margin-bottom: 24px;

      font-weight: $weight-Medium;
      font-size: var(--font-text-large);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &--breadcrumbs {
    ol,
    ul {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: center;

      font-size: 13px;
    }

    li:not(:first-child) {
      &::before {
        content: "-";
      }
    }

    a {
      color: #717986;
      transition: $transition-time ease;

      @media (hover: hover) {
        &:hover {
          color: $link-hover-color;
        }
      }
    }

    span {
      color: #9aa2ae;
    }
  }

  &--side {
    .nav__list {
      flex-direction: column;
      overflow: hidden;
      border: 1px solid #e2d2c5;
      border-radius: var(--border-radius-big);
    }

    .nav__item {
      &:not(:last-child) {
        border-bottom: 1px solid #e2d2c5;
      }
    }

    .nav__link {
      display: flex;
      gap: 8px;
      align-items: center;

      padding: 16px 20px;

      background-color: $palette-white;
      font-size: var(--font-text-big);
      line-height: 1;

      @media (hover: hover) {
        &:hover {
          background-color: #e2d2c5;
          color: $color-text__primary;
        }
      }

      &.current {
        background-color: $palette-green;
        color: $color-text__white;
        pointer-events: none;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
