// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
  }

  &__item {
  }

  &__link {
  }



  &--header {
    .nav__list {
      gap: 20px;
      align-items: center;
    }

    .nav__item {

    }

    .nav__link {

    }
  }
}
