// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
  }

  &__item {
  }

  &__link {
  }

  a {
    transition: $transition-time ease;

    @media (hover: hover) {
      &:hover {
        color: $link-hover-color;
      }
    }
  }



  &--header {
    .nav__list {
      gap: 20px;
      align-items: center;
    }

    .nav__item {

    }

    .nav__link {

    }
  }

  &--footer {
    .nav__link {
      display: inline-block;
      margin-bottom: 24px;

      font-weight: $weight-Medium;
      font-size: var(--font-text-large);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
