// -----------------------------------------------------------------------------
// В этом файле прописываются общие стили для всех секций сайта
// -----------------------------------------------------------------------------

.section {
  &:not(:first-child) {
    margin-top: 100px;
  }

  &__header {
    margin-bottom: 50px;
  }

  &__title {
    font-size: var(--font-title-medium);
    text-align: center;
    text-transform: uppercase;
  }
}
