// -----------------------------------------------------------------------------
// В этом файле прописываются общие стили для всех секций сайта
// -----------------------------------------------------------------------------

// .page__body:not(#cp-home) {
//   .section:first-child {
//     padding-top: 120px;
//   }
// }

.section {
  &--bg {
    @include breakpoint($breakpoint-laptop) {
      padding: 54px 0;
    }

    padding: 100px 0;
    border-radius: 50px;
  }

  &--lightgreen {
    background: linear-gradient(303deg, #fbffe4 23.53%, #ebf9d0 83.85%);
  }

  &--green {
    background: $gradient;
  }

  &:not(:first-child) {
    margin-top: 100px;
  }

  &:last-child {
    margin-bottom: 100px;
  }

  &__header {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 32px;
    }

    margin-bottom: 50px;
  }

  &__title {
    font-size: var(--font-title-medium);
    text-align: center;
    text-transform: uppercase;
  }

  &__action {
    margin-top: 50px;
    text-align: center;
  }
}
