#pp-security-content {
  .content {
    @include breakpoint($breakpoint-tablet) {
      padding: 20px;
    }

    position: relative;
    overflow: hidden;
    padding: 40px;
    border-radius: var(--border-radius-big);
    background-color: $palette-yellow--pale;

    &__form {
      @include breakpoint($breakpoint-notebook) {
        max-width: 320px;
      }

      @include breakpoint($breakpoint-tablet) {
        max-width: 100%;
      }

      position: relative;
      z-index: 2;
      max-width: 600px;

      .form__privacy {
        margin-top: 20px;
      }

      .form__action {
        @include breakpoint($breakpoint-tablet) {
          flex-direction: column;
          gap: 8px;
        }

        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 20px;
      }

      .button {
        @include breakpoint($breakpoint-tablet) {
          width: 100%;
        }
      }

      .button-outline {
        border-color: $palette-black;
      }
    }

    &__action {
      margin-top: 32px;
    }

    &__logo {
      @include breakpoint($breakpoint-notebook) {
        top: 40px;
      }

      @include breakpoint($breakpoint-tablet) {
        display: none;
      }

      position: absolute;
      top: -12px;
      right: -35px;

      width: 410px;
      aspect-ratio: 1 / 1;
      color: #f3ecda;
    }
  }
}
