/*
-----------------------------------------------------------------------------
В этом файле подключаются шрифты через миксин font-face,
И задаются основные настройки типографики всего сайта
-----------------------------------------------------------------------------
*/

@include font-face("DolomanPavljenko", "../assets/fonts/DolomanPavljenko/DolomanPavljenko-Regular", 400);

@include font-face("NunitoSans", "../assets/fonts/NunitoSans/NunitoSans-Regular", 400);
@include font-face("NunitoSans", "../assets/fonts/NunitoSans/NunitoSans-SemiBold", 600);
@include font-face("NunitoSans", "../assets/fonts/NunitoSans/NunitoSans-Bold", 700);

$font-default: "NunitoSans", sans-serif; // Семейство по умолчанию
$font-heading: "DolomanPavljenko", sans-serif; // Семейство по умолчанию

body {
  color: $color-text__primary;

  font-weight: $weight-Regular;
  font-size: var(--font-text-regular);
  font-family: $font-default;

  line-height: var(--line-height-text);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $weight-Regular;
  font-family: $font-heading;
  line-height: var(--line-height-title);
}