<section id="s-brands" class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">
        Наши бренды
      </h2>
    </div>
    <!-- /.section__header -->

    <div class="brands">
      <div class="swiper">
        <div class="swiper-wrapper brands__grid">
          <div class="swiper-slide">
            <include src="layout/template/card/brand.html">
              {
              "image": "assets/images/content/brands/1.jpg"
              }
            </include>
          </div>
          <!-- /.swiper-slide -->

          <div class="swiper-slide">
            <div class="brands__item">
              <include src="layout/template/card/brand.html">
                {
                "image": "assets/images/content/brands/2.jpg"
                }
              </include>
            </div>
            <!-- /.brands__item -->
          </div>
          <!-- /.swiper-slide -->

          <div class="swiper-slide">
            <include src="layout/template/card/brand.html">
              {
              "image": "assets/images/content/brands/3.jpg"
              }
            </include>
          </div>
          <!-- /.swiper-slide -->

          <div class="swiper-slide">
            <include src="layout/template/card/brand.html">
              {
              "image": "assets/images/content/brands/4.jpg"
              }
            </include>
          </div>
          <!-- /.swiper-slide -->
        </div>
        <!-- /.brands__grid -->
      </div>
      <!-- /.swiper -->
    </div>
    <!-- /.brands -->
  </div>
  <!-- /.container -->
</section>