<section id="s-callback" class="section">
  <div class="callback">
    <div class="container">
      <div class="callback__wrapper">
        <div class="section__header">
          <h2 class="section__title">
            Свяжитесь с нами
          </h2>
        </div>
        <!-- /.section__header -->

        <div class="callback__form">
          <form action="" class="form form-custom">
            <div class="form__wrapper">
              <div class="input">
                <input placeholder="E-mail" autocomplete="off" type="email" name="user_email" class="input__field">
              </div>
              <!-- /.input -->

              <div class="input">
                <input placeholder="Телефон" autocomplete="off" type="tel" name="user_phone" class="input__field">
              </div>
              <!-- /.input -->
            </div>
            <!-- /.form__wrapper -->

            <div class="form__action">
              <button class="button button-primary"><span>Отправить</span></button>
              <p class="form__privacy">Нажимая на кнопку «Отправить», я даю согласие на обработку персональных данных в соответствии с <a href="">Политикой обработки персональных данных</a></p>
            </div>
            <!-- /.form__action -->
          </form>
        </div>
        <!-- /.callback__form -->
      </div>
      <!-- /.callback__wrapper -->

      <div class="callback__bg">
        <picture class="callback__picture lazy">
          <img class="image image--cover lazy__item" data-src="assets/images/layout/section/callback/bg_1.svg" alt="">
        </picture>

        <picture class="callback__picture lazy">
          <img class="image image--cover lazy__item" data-src="assets/images/layout/section/callback/bg_2.svg" alt="">
        </picture>
      </div>
      <!-- /.callback__bg -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.callback -->
</section>