<section id="s-catalog" class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">
        {{ title }}
      </h2>
    </div>
    <!-- /.section__header -->

    <div class="catalog">
      <div class="catalog__grid">
        <include src="layout/template/card/product.html">
          {
            "image": "assets/images/content/product/1.jpg",
            "title": "Тушь для ресниц «Формула преображения®»",
            "price": "204 ₽"
          }
        </include>

        <include src="layout/template/card/product.html">
          {
            "image": "assets/images/content/product/2.jpg",
            "title": "Тушь для ресниц «Формула преображения®»",
            "price": "204 ₽"
          }
        </include>

        <include src="layout/template/card/product.html">
          {
            "image": "assets/images/content/product/3.jpg",
            "title": "Тушь для ресниц «Формула преображения®»",
            "price": "204 ₽"
          }
        </include>

        <include src="layout/template/card/product.html">
          {
            "image": "assets/images/content/product/4.jpg",
            "title": "Тушь для ресниц «Формула преображения®»",
            "price": "204 ₽"
          }
        </include>
      </div>
      <!-- /.catalog__grid -->
    </div>
    <!-- /. -->
  </div>
  <!-- /.container -->
</section>