<section id="s-vacancy" class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">
        Вакансии
      </h2>
    </div>
    <!-- /.section__header -->

    <div class="vacancy">
      <div class="vacancy__grid">
        <div class="accordion">
          <div class="accordion__header">
            <div class="accordion__wrapper">
              <p class="accordion__title">Как сделать заказ?</p>
              <p>
                Опыт: без опыта
                <br>
                Полная занятость 3/2
              </p>
            </div>
            <!-- /.accordion__wrapper -->

            <div class="accordion__icon">
              <svg>
                <use href="assets/images/icons/package.svg#icon-arrow"></use>
              </svg>
            </div>
            <!-- /.accordion__icon -->
          </div>
          <!-- /.accordion__header -->

          <div class="accordion__body">
            <div class="accordion__vacancy" data-editor>
              <p>Нужно немного подождать или использовать другой способ оплаты. Если вы применяли бонусы, промокод или подарочную карту — они восстановятся в течение 30 минут.</p>
            </div>
            <!-- /.accordion__vacancy -->
          </div>
          <!-- /.accordion__body -->
        </div>
        <!-- /.accordion -->

        <div class="accordion">
          <div class="accordion__header">
            <div class="accordion__wrapper">
              <p class="accordion__title">Как сделать заказ?</p>
              <p>
                Опыт: без опыта
                <br>
                Полная занятость 3/2
              </p>
            </div>
            <!-- /.accordion__wrapper -->

            <div class="accordion__icon">
              <svg>
                <use href="assets/images/icons/package.svg#icon-arrow"></use>
              </svg>
            </div>
            <!-- /.accordion__icon -->
          </div>
          <!-- /.accordion__header -->

          <div class="accordion__body">
            <div class="accordion__vacancy" data-editor>
              <p>Нужно немного подождать или использовать другой способ оплаты. Если вы применяли бонусы, промокод или подарочную карту — они восстановятся в течение 30 минут.</p>
            </div>
            <!-- /.accordion__vacancy -->
          </div>
          <!-- /.accordion__body -->
        </div>
        <!-- /.accordion -->

        <div class="accordion">
          <div class="accordion__header">
            <div class="accordion__wrapper">
              <p class="accordion__title">Как сделать заказ?</p>
              <p>
                Опыт: без опыта
                <br>
                Полная занятость 3/2
              </p>
            </div>
            <!-- /.accordion__wrapper -->

            <div class="accordion__icon">
              <svg>
                <use href="assets/images/icons/package.svg#icon-arrow"></use>
              </svg>
            </div>
            <!-- /.accordion__icon -->
          </div>
          <!-- /.accordion__header -->

          <div class="accordion__body">
            <div class="accordion__vacancy" data-editor>
              <p>Нужно немного подождать или использовать другой способ оплаты. Если вы применяли бонусы, промокод или подарочную карту — они восстановятся в течение 30 минут.</p>
            </div>
            <!-- /.accordion__vacancy -->
          </div>
          <!-- /.accordion__body -->
        </div>
        <!-- /.accordion -->

        <div class="accordion">
          <div class="accordion__header">
            <div class="accordion__wrapper">
              <p class="accordion__title">Как сделать заказ?</p>
              <p>
                Опыт: без опыта
                <br>
                Полная занятость 3/2
              </p>
            </div>
            <!-- /.accordion__wrapper -->

            <div class="accordion__icon">
              <svg>
                <use href="assets/images/icons/package.svg#icon-arrow"></use>
              </svg>
            </div>
            <!-- /.accordion__icon -->
          </div>
          <!-- /.accordion__header -->

          <div class="accordion__body">
            <div class="accordion__vacancy" data-editor>
              <p>Нужно немного подождать или использовать другой способ оплаты. Если вы применяли бонусы, промокод или подарочную карту — они восстановятся в течение 30 минут.</p>
            </div>
            <!-- /.accordion__vacancy -->
          </div>
          <!-- /.accordion__body -->
        </div>
        <!-- /.accordion -->
      </div>
      <!-- /.vacancy__grid -->

      <div class="section__action">
        <button class="button button-outline"><span>Показать еще</span></button>
      </div>
      <!-- /.section__action -->
    </div>
    <!-- /.vacancy -->
  </div>
  <!-- /.container -->
</section>