#cp-faq-help {
  .help {
    padding: 50px 0;
    border-radius: var(--border-radius-big);
    background-color: $palette-green--pale;

    .section__header {
      margin-bottom: 30px;
    }

    &__action {
      text-align: center;
    }
  }
}
