#sp-product-content {
  .content {
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 590px 1fr;
    gap: 0 20px;

    .section__header {
      margin-bottom: 20px;
    }

    .section__title {
      @include breakpoint($breakpoint-tablet) {
        text-align: center;
      }

      text-align: left;
    }

    &__gallery {
      @include breakpoint($breakpoint-tablet) {
        grid-row: 2 / 3;
        grid-column: auto;

        margin-bottom: 20px;
      }

      grid-row: 1 / 4;
      grid-column: 1 / 2;
      min-width: 0;
    }

    &__header {
      @include breakpoint($breakpoint-tablet) {
        grid-row: 1 / 2;
        margin-bottom: 20px;
      }

      margin-bottom: 30px;
    }

    &__info {
      @include breakpoint($breakpoint-tablet) {
        align-items: center;
      }

      @include breakpoint($breakpoint-mobile) {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
      }

      display: flex;
      align-items: start;
      justify-content: space-between;
    }

    &__label {
      p:first-child {
        margin-bottom: 10px;
        font-weight: $weight-Bold;
      }
    }

    &__rating {
      @include breakpoint($breakpoint-mobile) {
        margin-left: 0;
      }

      display: flex;
      gap: 20px;
      align-items: center;

      margin-left: auto;
    }

    &__action {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__size {
      p {
        margin-bottom: 10px;
      }

      .content__wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    &__price {
      display: flex;
      gap: 12px;
      align-items: center;

      font-weight: $weight-Bold;

      span {
        &:first-child {
          color: $color-text__green;
          font-size: 32px;
        }

        &:nth-child(2) {
          color: $color-text__gray;
        }
      }
    }

    &__counter {
      display: flex;
      gap: 10px;
    }

    &__about {
      margin-top: 50px;
    }
  }
}
