.link {
  cursor: pointer;
  transition: $transition-time ease;

  @media (hover: hover) {
    &:hover {
      color: $link-hover-color;
    }
  }

  &--underline {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  &--arrow {
    display: inline-flex;
    gap: 8px;
    align-items: center;

    @media (hover: hover) {
      &:hover {
        &::after {
          transform: translateX(8px);
        }
      }
    }

    &::after {
      content: "";
      width: 24px;
      height: 24px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M14.5 18L20.5 12L14.5 6' stroke='%239AA255' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M20 12L3 12' stroke='%239AA255' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      transition: $transition-time ease;
    }
  }
}

.link-stretched {
  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    inset: 0;
  }
}
