#sp-blog-content {
  .content {
    display: grid;
    grid-template-columns: 1fr 710px;
    gap: 20px;

    &__date {
      display: inline-block;
      margin-bottom: 20px;
      color: $color-text__gray;
      font-size: var(--font-text-small);
    }

    &__picture {
      overflow: hidden;
      aspect-ratio: 16 / 10;
      border-radius: var(--border-radius-big);
    }
  }
}
