#cp-catalog-brands {
  .brands {
    &__action {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;

      margin-bottom: 50px;
    }

    &__content {
      .swiper {
        overflow: visible;
      }
    }

    &__grid {
      @include breakpoint($breakpoint-tablet) {
        display: flex;
        gap: 0;
      }

      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 30px 20px;
    }
  }
}
