.input {
  position: relative;

  &--search {
    .input__field {
      padding: 10px 20px 10px 44px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 10px;

      width: 24px;
      height: 24px;

      transform: translateY(-50%);
    }
  }

  &--box {
    .input__field {
      resize: none;
    }
  }

  &__field {
    width: 100%;
    padding: 22px 20px 10px;

    border: 1px solid transparent;
    border-radius: var(--border-radius);
    outline: none;

    background-color: $palette-white;
    color: $color-text__primary;

    font-size: var(--font-text-regular);
    transition: $transition-time ease;

    &--border {
      border-color: $palette-yellow--dark;
    }

    &::placeholder {
      color: #353535;
    }

    &:focus + .input__label,
    &:not(:placeholder-shown) + .input__label {
      top: 6px;
      transform: scale(0.75);
    }

    &[type="search"]::-webkit-search-cancel-button {
      display: none;
    }

    &[type="number"] {
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
      }
    }
  }

  &__label {
    position: absolute;
    top: 18px;
    left: 20px;

    color: $color-text__primary;
    pointer-events: none;
    transform-origin: left top;
    transition: $transition-time ease;
  }
}
