#op-search-content {
  .content {
    &__form {
      margin-bottom: 50px;
    }

    &__grid {
      @include breakpoint($breakpoint-tablet) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include breakpoint($breakpoint-mobile) {
        grid-template-columns: 1fr;
      }

      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 50px 20px;
    }

    &__empty {
      font-size: var(--font-text-big);
      text-align: center;
    }
  }
}
