#pp-history-order-content {
  .content {
    &__item {
      @include breakpoint($breakpoint-desktop) {
        grid-template-columns: 200px 430px 160px 1fr;
      }

      @include breakpoint($breakpoint-notebook) {
        grid-template-columns: 1fr;
      }

      display: grid;
      grid-template-columns: 260px 430px 180px 1fr;

      width: 100%;
      padding: 20px;
      border: 1px solid #e2d2c5;
      border-radius: var(--border-radius-big);
      background-color: $palette-white;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__info,
    &__action {
      display: flex;
      flex-direction: column;
    }

    &__info {
      align-items: flex-start;
    }

    &__order {
      margin-bottom: 16px;

      p {
        &:nth-child(1) {
          margin-bottom: 4px;
          font-weight: $weight-Bold;
        }

        &:nth-child(2) {
          color: $color-text__gray;
          font-size: 13px;
        }
      }
    }

    &__release {
      display: inline-flex;
      padding: 10px 12px;
      border-radius: var(--border-radius);

      background-color: $palette-yellow;
      color: $color-text__yellow--pale;

      font-weight: $weight-Bold;
      font-size: 14px;
    }

    &__grid {
      @include breakpoint($breakpoint-desktop) {
        margin-top: 16px;
      }

      @include breakpoint($breakpoint-mobile) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      @include breakpoint(max-width 380px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 10px;
      align-items: center;
    }

    &__picture {
      width: 100%;
      aspect-ratio: 1 / 1;
      transition: $transition-time ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.6;
        }
      }

      &::after {
        transform: scale(0.5);
      }
    }

    &__price {
      @include breakpoint($breakpoint-desktop) {
        justify-content: flex-start;
        margin-top: 16px;
        text-align: left;
      }

      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: $weight-Bold;
      font-size: var(--font-text-big);
      text-align: center;
    }

    &__action {
      @include breakpoint($breakpoint-desktop) {
        align-items: flex-start;
        margin-top: 16px;
      }

      gap: 8px;
      align-items: flex-end;
    }

    &__status,
    &__repeat {
      display: inline-flex;
      gap: 16px;
      align-items: center;
      justify-content: center;
    }

    &__status {
      gap: 8px;
      min-width: 156px;
      padding: 10px 20px;
      border-radius: var(--border-radius);

      background-color: $color-text__gray;
      color: rgba($color: #000000, $alpha: 0.3);
      font-weight: $weight-Bold;

      svg {
        width: 16px;
        height: 16px;
      }

      &--accept {
        background-color: #ebc5ac;
      }

      &--packing {
        background-color: #aacde9;
      }

      &--delivery {
        background-color: #eba9ce;
      }

      &--done {
        background-color: #dbe394;
      }
    }

    &__repeat {
      gap: 4px;
      margin-top: auto;
      color: $color-text__yellow--pale;

      svg {
        width: 24px;
        height: 24px;

        color: $palette-green;
      }
    }
  }
}
