@import "home/content";

@import "history-product/content";

@import "history-order/page";
@import "history-order/content";

@import "profile/content";

@import "registration/content";

@import "security/content";

[id^="pp-"] {
  .page__background {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    position: absolute;
    z-index: -1;
    top: 89px;
    left: 0;
  }
}
