<div class="card-product">
  <picture class="card-product__picture lazy lazy--preloader">
    <img class="image image--cover lazy__item" data-src="{{ image }}" alt="">
  </picture>

  <div class="card-product__content">
    <p class="card-product__title">{{ title }}</p>
    <p class="card-product__price">{{ price }}</p>
  </div>
  <!-- /.card-product__content -->

  <div class="card-product__action">
    <button class="button button-primary"><span>Купить</span></button>
  </div>
  <!-- /.card-product__action -->
</div>
<!-- /.card-product -->