<div class="hystmodal modal modal-auth" id="modal-auth" aria-hidden="true">
  <div class="hystmodal__wrap">
    <div class="hystmodal__window modal__container" role="dialog" aria-modal="true">
      <div class="modal__header">
        <p class="modal__title">авторизация</p>
        <button data-hystclose class="hystmodal__close">Закрыть</button>
      </div>
      <!-- /.modal__header -->

      <div class="modal__content">
        <div class="modal__action">
          <button class="button button-outline is-active"><span>Физическое лицо</span></button>
          <button class="button button-outline"><span>Юридическое лицо / ИП</span></button>
        </div>
        <!-- /.content__action -->

        <div class="modal__wrapper">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="modal__form">
                  <form action="" class="form form-auth form-custom">
                    <div class="form__wrapper">
                      <div class="input">
                        <input placeholder="" autocomplete="off" type="email" name="user_email" class="input__field">
                        <span class="input__label">E-mail</span>
                      </div>
                      <!-- /.input -->

                      <div class="input input--password">
                        <input placeholder="" autocomplete="off" type="password" name="user_password" class="input__field">
                        <span class="input__label">Пароль</span>

                        <div class="input__icon">
                          <svg>
                            <use href="assets/images/icons/package.svg#icon-password-hidden"></use>
                          </svg>
                          <svg>
                            <use href="assets/images/icons/package.svg#icon-password-show"></use>
                          </svg>
                        </div>
                        <!-- /.input__icon -->
                      </div>
                      <!-- /.input -->
                    </div>
                    <!-- /.form__wrapper -->

                    <div class="form__action">
                      <button class="button button-primary"><span>Войти</span></button>
                    </div>
                    <!-- /.form__action -->
                  </form>
                </div>
                <!-- /.modal__form -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <div class="modal__form">
                  <form action="" class="form form-auth form-custom">
                    <div class="form__wrapper">
                      <div class="input">
                        <input placeholder="" autocomplete="off" type="email" name="user_email" class="input__field">
                        <span class="input__label">E-mail</span>
                      </div>
                      <!-- /.input -->

                      <div class="input">
                        <input placeholder="" autocomplete="off" type="number" name="user_inn" class="input__field">
                        <span class="input__label">ИНН</span>
                      </div>
                      <!-- /.input -->

                      <div class="input input--password">
                        <input placeholder="" autocomplete="off" type="password" name="user_password" class="input__field">
                        <span class="input__label">Пароль</span>

                        <div class="input__icon">
                          <svg>
                            <use href="assets/images/icons/package.svg#icon-password-hidden"></use>
                          </svg>
                          <svg>
                            <use href="assets/images/icons/package.svg#icon-password-show"></use>
                          </svg>
                        </div>
                        <!-- /.input__icon -->
                      </div>
                      <!-- /.input -->
                    </div>
                    <!-- /.form__wrapper -->

                    <div class="form__action">
                      <button class="button button-primary"><span>Войти</span></button>
                    </div>
                    <!-- /.form__action -->
                  </form>
                </div>
                <!-- /.modal__form -->
              </div>
              <!-- /.swiper-slide -->
            </div>
            <!-- /.swiper-wrapper -->
          </div>
          <!-- /.swiper -->
        </div>
        <!-- /.content__wrapper -->

        <div class="modal__additional">
          <p><a class="link">Забыли пароль?</a></p>
          <p><a class="link link--arrow">Зарегистрироваться</a></p>
        </div>
        <!-- /.modal__additional -->
      </div>
      <!-- /.modal__content -->

      <picture class="modal__background lazy">
        <img class="image image--cover lazy__item" data-src="assets/images/layout/global/modal/auth/background.svg"  alt="">
      </picture>
    </div>
    <!-- /.modal__container -->
  </div>
  <!-- /.hystmodal__wrap -->
</div>
<!-- /.hystmodal -->