<div id="cart" class="cart">
  <div class="cart__overlay"></div>

  <div class="cart__wrapper">
    <div class="cart__close">
      <svg>
        <use href="assets/images/icons/package.svg#icon-close"></use>
      </svg>
    </div>
    <!-- /.cart__close -->

    <div class="cart__header">
      <h2 class="section__title">корзина</h2>
      <span class="link link--arrow" href="">Вернуться к покупкам</span>
    </div>
    <!-- /.cart__header -->

    <div class="cart__content">
      <div class="cart__grid">
        <div class="cart__item cart-item">
          <div class="cart-item__image">
            <img src="assets/images/content/product/1.jpg" alt="">
          </div>
          <!-- /.cart__image -->

          <div class="cart-item__wrapper">
            <div class="cart-item__info">
              <p>Мицеллярная вода «Формула преображения®» с женьшенем и экстрактом ромашки, 300 мл</p>
              <div class="cart-item__action">
                <p>Удалить товар</p>
                <svg>
                  <use href="assets/images/icons/package.svg#icon-bucket"></use>
                </svg>
              </div>
              <!-- /.cart-item__action -->
            </div>
            <!-- /.cart-item__info -->

            <div class="cart-item__count">
              <div class="b-counter">
                <span class="b-counter__minus"></span>
                <input class="b-counter__count" value="1" name="count" type="number" min="1">
                <span class="b-counter__plus"></span>
              </div>
              <!-- /.b-counter -->
            </div>
            <!-- /.cart-item__count -->

            <div class="cart-item__price cart-item__price--old">
              <p>3 500 ₽</p>
            </div>
            <!-- /.cart-item__price -->

            <div class="cart-item__price">
              <p>3 500 ₽</p>
            </div>
            <!-- /.cart-item__price -->
          </div>
          <!-- /.cart-item__wrapper -->
        </div>
        <!-- /.cart__item -->

        <div class="cart__item cart-item">
          <div class="cart-item__image">
            <img src="assets/images/content/product/2.jpg" alt="">
          </div>
          <!-- /.cart__image -->

          <div class="cart-item__wrapper">
            <div class="cart-item__info">
              <p>Мицеллярная вода «Формула преображения®» Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.</p>
              <div class="cart-item__action">
                <p>Удалить товар</p>
                <svg>
                  <use href="assets/images/icons/package.svg#icon-bucket"></use>
                </svg>
              </div>
              <!-- /.cart-item__action -->
            </div>
            <!-- /.cart-item__info -->

            <div class="cart-item__count">
              <div class="b-counter">
                <span class="b-counter__minus"></span>
                <input class="b-counter__count" value="1" name="count" type="number" min="1">
                <span class="b-counter__plus"></span>
              </div>
              <!-- /.b-counter -->
            </div>
            <!-- /.cart-item__count -->

            <div class="cart-item__price cart-item__price--old">
              <p></p>
            </div>
            <!-- /.cart-item__price -->

            <div class="cart-item__price">
              <p>3 500 ₽</p>
            </div>
            <!-- /.cart-item__price -->
          </div>
          <!-- /.cart-item__wrapper -->
        </div>
        <!-- /.cart__item -->
      </div>
      <!-- /.cart__grid -->

      <div class="cart__bottom">
        <div class="cart__about">
          <form action="" class="cart__promo">
            <div class="input">
              <input placeholder="" autocomplete="off" type="" name="" class="input__field input__field--border">
              <span class="input__label">Введите промокод</span>
            </div>
            <!-- /.input -->

            <button class="button button-primary button-primary--alt"><span>Применить</span></button>
          </form>
          <!-- /.cart__promo -->

          <div class="cart__order">
            <div class="cart__summary">
              <div>
                <p>Сумма заказа</p>
                <p>13 990 ₽</p>
              </div>

              <div>
                <p>Скидка <span>20%</span></p>
                <p>-3 000 ₽</p>
              </div>

              <div>
                <p>Итого</p>
                <p><b>13 990 ₽</b></p>
              </div>
            </div>
            <!-- /.cart__summary -->

            <div class="cart__action">
              <button class="button button-primary"><span>Оформить заказ</span></button>
            </div>
            <!-- /.cart__action -->
          </div>
          <!-- /.cart__order -->
        </div>
        <!-- /.cart__about -->

        <div class="cart__action">
          <span>Очистить корзину</span>
          <svg>
            <use href="assets/images/icons/package.svg#icon-bucket"></use>
          </svg>
        </div>
        <!-- /.cart__action -->
      </div>
      <!-- /.cart__bottom -->
    </div>
    <!-- /.cart__content -->
  </div>
  <!-- /.cart__wrapper -->
</div>
<!-- /.cart -->