<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__content">
        <div class="footer__logo">
          <a class="logo logo--footer" href="">
            <svg>
              <use href="assets/images/icons/package.svg#logo"></use>
            </svg>
          </a>
        </div>
        <!-- /.footer__logo -->

        <div class="footer__callback">
          <div class="footer__phones">
            <p><a class="link" href="tel:">+7 (812) 365-46-94 </a></p>
            <p><a class="link" href="tel:">+7 (812) 365-46-80</a></p>
          </div>
          <!-- /.footer__phones -->

          <p><a class="link" target="_blank" href="">192148, Россия, Санкт-Петербург, <br> Старопутиловский вал, д. 7, корпус 2, лит. А</a></p>
        </div>
        <!-- /.footer__callback -->

        <div class="footer__nav">
          <nav class="nav nav--footer">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="">О компании</a>
                <ul>
                  <li><a href="">Производство</a></li>
                  <li><a href="">Доставка и оплата</a></li>
                  <li><a href="">Новости</a></li>
                  <li><a href="">Статьи</a></li>
                  <li><a href="">Вопрос/ответ</a></li>
                  <li><a href="">Вакансии</a></li>
                  <li><a href="">Контакты</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- /.nav -->

          <nav class="nav nav--footer">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="">Каталог</a>
                <ul>
                  <li><a href="">Уход для лица</a></li>
                  <li><a href="">Уход для тела</a></li>
                  <li><a href="">Уход для волос</a></li>
                  <li><a href="">Уход за полостью рта</a></li>
                  <li><a href="">Для детей</a></li>
                  <li><a href="">БАДы</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- /.nav -->
        </div>
        <!-- /.footer__nav -->
      </div>
      <!-- /.footer__content -->

      <div class="footer__bottom">
        <div class="footer__copyright">
          <p>©2025 VITA</p>
          <p><a class="link" href="">Политика конфиденциальности</a></p>
        </div>
        <!-- /.footer__copyright -->

        <div class="social">
          <a target="_blank" href="">
            <svg>
              <use href="assets/images/icons/package.svg#social-vk"></use>
            </svg>
          </a>

          <a target="_blank" href="">
            <svg>
              <use href="assets/images/icons/package.svg#social-tg"></use>
            </svg>
          </a>
        </div>
        <!-- /.social -->

        <p>
          Сайт сделан в <a target="_blank" class="link" href="https://artfactor.ru/">АртФактор</a>
        </p>
      </div>
      <!-- /.footer__bottom -->
    </div>
    <!-- /.footer__wrapper -->
  </div>
  <!-- /.container -->

  <picture class="footer__background lazy">
    <img class="image image--cover lazy__item" data-src="assets/images/layout/global/footer/bg.svg" alt="">
  </picture>
</footer>

<include src="layout/modal/callback.html"></include>