<header id="header" class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a class="logo logo--header" href="">
          <svg>
            <use href="assets/images/icons/package.svg#logo"></use>
          </svg>

          <span>
            OOO «Химико-биологическое
            <br>
            объединение«Фирма ВИТА»
          </span>
        </a>
      </div>
      <!-- /.header__logo -->

      <div class="header__nav">
        <nav class="nav nav--header">
          <ul class="nav__list">
            <li class="nav__item dropdown-nav">
              <a class="nav__link" href="">Каталог</a>
              <ul>
                <li></li>
              </ul>
            </li>

            <li class="nav__item">
              <a href="">Новинки</a>
            </li>

            <li class="nav__item">
              <a href="">Акции</a>
            </li>

            <li class="nav__item dropdown-nav">
              <a href="">О компании</a>
              <ul>
                <li></li>
              </ul>
            </li>

            <li class="nav__item">
              <a href="">Контакты</a>
            </li>
          </ul>
        </nav>
        <!-- /.nav -->
      </div>
      <!-- /.header__nav -->

      <div class="header__search">
        <div class="input input--search">
          <svg>
            <use href="assets/images/icons/package.svg#icon-search"></use>
          </svg>

          <input placeholder="Поиск" autocomplete="off" type="search" name="s" class="input__field">
        </div>
        <!-- /.input -->
      </div>
      <!-- /.header__search -->

      <div class="header__callback">
        <div class="header__phone">
          <p><a class="link" href="tel:">+7 (000) 000-00-00</a></p>
        </div>
        <!-- /.header__phone -->

        <div class="social">
          <a target="_blank" href="">
            <svg>
              <use href="assets/images/icons/package.svg#social-vk"></use>
            </svg>
          </a>

          <a target="_blank" href="">
            <svg>
              <use href="assets/images/icons/package.svg#social-tg"></use>
            </svg>
          </a>
        </div>
        <!-- /.social -->
      </div>
      <!-- /.header__callback -->

      <div class="header__action">
        <div class="header__account">
          <svg>
            <use href="assets/images/icons/package.svg#icon-account"></use>
          </svg>

          <p>Войти</p>
        </div>
        <!-- /.header__account -->

        <div class="header__cart">
          <svg>
            <use href="assets/images/icons/package.svg#icon-cart"></use>
          </svg>

          <span>1</span>
        </div>
        <!-- /.header__cart -->
      </div>
      <!-- /.header__action -->
    </div>
    <!-- /.header__wrapper -->
  </div>
  <!-- /.container -->
</header>