<div class="menu">
  <div class="menu__overlay"></div>
  <div class="menu__wrapper">
    <div class="menu__header">
      <div class="menu__logo">
        <a class="logo logo--header" href="">
          <svg>
            <use href="assets/images/icons/package.svg#logo"></use>
          </svg>
        </a>
      </div>
      <!-- /.menu__logo -->

      <div class="menu__action">
        <div class="menu__search">
          <svg>
            <use href="assets/images/icons/package.svg#icon-search"></use>
          </svg>
        </div>
        <!-- /.menu__search -->

        <div class="menu__phone">
          <svg>
            <use href="assets/images/icons/package.svg#icon-phone"></use>
          </svg>
        </div>
        <!-- /.menu__phone -->

        <div class="menu__account">
          <svg>
            <use href="assets/images/icons/package.svg#icon-account"></use>
          </svg>
        </div>
        <!-- /.menu__account -->

        <div class="menu__cart b-cart">
          <svg>
            <use href="assets/images/icons/package.svg#icon-cart"></use>
          </svg>

          <span>1</span>
        </div>
        <!-- /.menu__cart -->
      </div>
      <!-- /.menu__action -->

      <div class="menu__close">
        <svg>
          <use href="assets/images/icons/package.svg#icon-close"></use>
        </svg>
      </div>
      <!-- /.menu__close -->
    </div>
    <!-- /.menu__header -->

    <div class="menu__content">
      <p class="menu__title">Меню</p>

      <div class="menu__nav">
        <nav class="nav nav--menu">
          <ul class="nav__list">
            <li class="nav__item nav__submenu">
              <span><a class="nav__link" href="">Каталог</a></span>
              <ul>
                <li>Уход для лица</li>
                <li>Уход для тела</li>
                <li>Уход для волос</li>
                <li>Уход за полостью рта</li>
                <li>Для детей</li>
                <li>Бады</li>
              </ul>
            </li>

            <li class="nav__item nav__submenu">
              <span><a class="nav__link" href="">Бренды</a></span>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="">Новинки</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="">Акции</a>
            </li>

            <li class="nav__item nav__submenu">
              <span><a class="nav__link" href="">О компании</a></span>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="">Контакты</a>
            </li>
          </ul>
        </nav>
        <!-- /.nav -->
      </div>
      <!-- /.menu__nav -->

      <div class="menu__footer">
        <p><a class="link" href="">+7 (000) 000-00-00</a></p>

        <div class="social">
          <a target="_blank" href="">
            <svg>
              <use href="assets/images/icons/package.svg#social-vk"></use>
            </svg>
          </a>

          <a target="_blank" href="">
            <svg>
              <use href="assets/images/icons/package.svg#social-tg"></use>
            </svg>
          </a>
        </div>
        <!-- /.social -->
      </div>
      <!-- /.menu__footer -->
    </div>
    <!-- /.menu__content -->
  </div>
  <!-- /.menu__wrapper -->
</div>
<!-- /.menu -->