<div class="page__side">
  <nav class="nav nav--side">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link current" href="">
          <svg>
            <use href="assets/images/icons/package.svg#icon-account"></use>
          </svg>

          Мой профиль
        </a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="">
          <svg>
            <use href="assets/images/icons/package.svg#icon-cart"></use>
          </svg>

          Мои заказы
        </a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="">
          <svg>
            <use href="assets/images/icons/package.svg#icon-cart"></use>
          </svg>

          Купленные товары
        </a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="">
          <svg>
            <use href="assets/images/icons/package.svg#icon-guard"></use>
          </svg>

          Настройка и безопасность
        </a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="">
          <svg>
            <use href="assets/images/icons/package.svg#icon-exit"></use>
          </svg>

          Выйти
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.nav -->
</div>
<!-- /.page__side -->