.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 15px 30px;

  border: 1px solid transparent;
  border-radius: var(--border-radius);

  background-color: transparent;

  line-height: 1;
  text-align: center;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition-time ease;

  @media (hover: hover) {
    &:hover {
      color: $color-text__white;

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: -1px;

    border-radius: var(--border-radius);

    background: linear-gradient(128deg, #a8b56d 25.43%, #d3d353 79.26%);
    opacity: 0;
    visibility: hidden;

    transition: $transition-time ease;
  }

  span {
    position: relative;
    z-index: 2;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
